# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac specific
*.DS_Store
*.dSYM
*.dSYM/

# Person specific
.vscode/
jonas/
alex/
caiden/
jonas/

# Object files
Agent
Maze
mazeRunner
MazeNode
